  <script id='tmpl-books' type='text/template'>
  <ul>
    <% for (var i = 0; i < data.length; i++) { %>
      <% var game = data[i]; %>

/*date	playoff	mm	dd	yyyy	dbl	HA	OPP	RES	SOXSCOR	OPPSCOR	EXTR	WPIT	LPIT	SPIT	SPEC	TIME	DN*/

       // desired output -- underscore template style - still working
        <div class=		"game <%= game.res %> y<%= game.yyyy %>  <%= game.ha %> <%= game.dn %>" 
        	data-res=		"<%= game.res %>" 
        	data-year=	"<%= game.yyyy %>" 
        	data-playoff="<%= game.playoff %>" 
        	data-mm=	"<%= game.mm %>" 
        	data-dd=	"<%= game.dd %>" 
        	data-dbl=	"<%= game.dbl %>" 
        	data-soxscor="<%= game.soxscor %>" 
        	data-oppscor="<%= game.oppscor %>" 
        	data-rundiff="<% print(game.soxscor - game.oppscor) %>" 
        	data-shut=	"<% if(game.soxscor == 0 || game.oppscor == 0) { print('1'}; } else { print('0'}; } %>" 
        	data-blow=	"<% if(game.soxscor - game.oppscor > 4 || game.soxscor - game.oppscor < -4) { print('1'); } else {print('0'); } %>" 
        	data-one=	"<% if(game.soxscor - game.oppscor == 1 || game.soxscor - game.oppscor == -1) { print('1'); } else {print('0'); } %>" 
        	data-ha=	"<%= game.ha %>" 
        	data-hometeam="<% if(game.ha === 'Vs') {print('Boston'); }
						else if (game.ha === 'At') {print('New York'); }
							else  {print('N/A'); } %>" 

        	data-wpit=	"<% if(game.wpit) { print(game.wpit); } else { print('N/A'); } %>" 
        	data-lpit=	"<% if(game.lpit) { print(game.lpit); } else { print('N/A'); } %>" 
        	data-spit=	"<% if(game.spit) { print(game.spit); } else { print('-'); } %>" 
        	data-spec=	"<% if(game.spec) { print(number_format(game.spec)); } else { print('N/A'); } %>" 
        	data-time=	"<% if(game.time) { print(game.time); } else { print('N/A'); } %>" 
        	data-dn=	"<% if(game.dn) { print(game.dn); } else {print('N/A'); } %>">
 
 					<div class="gamedate">
        			
        			<a target="_blank"　
        				href="" >
        				Aug 17, 2012<%= game.res %>
        			</a>
        		</div>
        		<div class="gamescore">
        			<span class="bos">BOS 4</span>-<span class="ny">NY 6</span>
        		</div>
        </div>
        */

      <li>
        <em><%= game.title %></em> by <%= book.author %>
      </li>
    <% } %>
  </ul>
</script>


<%
/*		//shutouts?
		if(game.soxscor == 0 || game.oppscor == 0) { print('data-shut="1"'); } else {print('data-shut="0"'); }
		//blowouts?
		if(game.soxscor - game.oppscor > 4 || game.soxscor - game.oppscor < -4) { print('1'); } else {print('0'); }
		//one run?
		if(game.soxscor - game.oppscor == 1 || game.soxscor - game.oppscor == -1) { print('data-one="1"'); } else {print('data-one="0"'); }

		
		
		print('data-ha="' + game.ha + '"');
		//
		if(game.ha === "Vs") {print('data-hometeam="Boston"'); }
			else if (game.ha === "At") {print('data-hometeam="New York")'; }
				else  {print('data-hometeam="N/A"'); }
		if(game.wpit) { print(game.wpit); } else { print('N/A'); }
		if(game.lpit) { print(game.lpit); } else { print('N/A'); }
		if(game.spit) { print(game.spit); } else { print('-'); }
		if(game.spec) { print(number_format(game.spec)); } else { print('N/A'); }
		if(game.time) { print(game.time); } else { print('N/A'); }
		if(game.dn) { print(game.dn); } else {print('N/A'); }
		
		
		print('>'; // end beginning of div
		print('<div class="gamedate">';

		//link to retrosheet 
		//wait, retrosheet only does past year, current year, send it to baseball-reference
		if (game.yyyy === "2012") {
				print('<a href="http://www.baseball-reference.com/boxes/';
					if(game.ha === "Vs") {print('NYA/NYA');}else {print('BOS/BOS');}
					print(game.yyyy + pad2(game.mm) + pad2(game.dd) + game.dbl + '.shtml');
				print('" target ="_blank">');
		}else {		
		//by default, links to retrosheet	
			print('<a href="http://www.retrosheet.org/boxesetc/' + game.yyyy +'/')
			;
			//before 1917 redirect to game page
				if(game.yyyy < 1918){
					print(pad2(game.mm) + pad2(game.dd) + game.yyyy + '.htm'); 
				} else {
			//boxscore page
					print('B' + pad2(game.mm) + pad2(game.dd) + game.dbl);
					if(game.ha === 'Vs') {print('BOS');} else {print('NYA');}
					print(game.yyyy + '.htm');
				}
			print('" target ="_blank">');
			//end link to retrosheet
		
		}// end link to retrosheet or baseball-reference
			
		//covert month name
		switch (game.mm) {
			case '1' : print('Jan '; break;
			case '2' : print('Feb '; break;
			case '3' : print('Mar '; break;
			case '4' : print('Apr '; break;
			case '5' : print('May '; break;
			case '6' : print('Jun '; break;
			case '7' : print('Jul '; break;
			case '8' : print('Aug '; break;
			case '9' : print('Sept '; break;
			case '10' : print('Oct '; break;
			case '11' : print('Nov '; break;
			case '12' : print('Dec ';
		}	
		
		
		
		print(game.dd + ', ' + game.yyyy +'</a></div>'; // end game date

		print('<div class="gamescore"><span class="bos">BOS ' + game.soxscor +'</span>-<span class="ny">NY '+ game.oppscor  + '</span>'; 
		//if extra innings 
		if (game.extr){ print(' <span class="extra">(' + game.extr + ')</span>';}
		
		print('</div>'); //end game score


		html = html + "</div>";
		// ending game div here
		
		*/